@import url('bootstrap.css');
@import url('menu.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    margin: 0;
    padding: 0;
    border: none;
    line-height: 175%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #232323;
}

.mainheader {
    width: 100%;
    padding: 1rem 0;
    background: #232323;
}

.mainheader__list {
    display: flex;
    margin: 0;
}

.mainheader__list li {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    display: inline-flex;
    color: #fff;
}

.mainheader__list li a {
    color: inherit;
}

.herocontent {
    width: 100%;
    height: 100vh;
}

.herocontent--mainbackground {
    background: linear-gradient(rgba(35, 35, 35 ,0.75), rgba(35, 35, 35 ,0.75)),url('../img/hero.jpg') center center / cover;
}

.herocontent--secondbackground {
    background: linear-gradient(rgba(35, 35, 35 ,0.75), rgba(35, 35, 35 ,0.75)),url('../img/cover.jpg') center center / cover;
}

.herocontent__title {
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #fff;
}

.herocontent__subtitle {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #fff;
}

.herocontent__subtitle:after {
    content: "";
    width: 50px;
    height: 3px;
    margin: 1rem auto;
    background: #F29100;
    display: block;
}

.herocontent__list {
    display: flex;
    justify-content: center;
}

.herocontent__list li {
    width: 200px;
    display: inline-flex;
    justify-content: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem;
    margin: 0.5rem;
}

.herocontent__list li a {
    color: #fff;
}

.maincontent {
    width: 100%;
    padding: 6rem 0;
}

.maincontent__halfsize {
    width: 100%;
    padding: 3rem 0;
}

.maincontent--graybackground {
    background: #f5f5f5;
}

.maincontent__title {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #F29100;
}

.maincontent__title:after {
    content: "";
    width: 50px;
    height: 3px;
    margin: 1rem 0;
    background: #232323;
    display: block;
}

.maincontent__subtitle {
    font-size: 1.25rem;
    padding: 0.5rem 0;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.maincontent__subtitle:after {
    content: "";
    width: 50px;
    height: 3px;
    margin: 1rem 0;
    background: #F29100;
    display: block;
}

.maincontent__headline {
    font-size: 1rem;
    color: #666;
    font-weight: bold;
}

.maincontent__img {
    width: 100%;
    height: auto;
}

.maincontent__img--shape {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    box-shadow: 1px 2px #cacaca;
    display: block;
}

.maincontent__img--border {
    border: 1px solid rgba(0,0,0,0.25);
    margin-bottom: 30px;
}

.maincontent__permalink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background: rgba(255,152,0,1);
    color: #fff;
}

.maincontent__permalink__active {
    color: rgba(255,152,0,1);
}

@media screen and (max-width: 800px ) {
    
    .herocontent {
        width: 100%;
        height: auto;
        padding: 6rem 0;
    }

}